@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&display=swap');
*{
    padding: none;
    border: none;
    margin: 0;
}
video{
    width: 400px;
    height: 300px;
}
h2{
    font-family: 'Oxygen', sans-serif;
    padding-bottom: 10px;
}
.div-ep{
    display: inline-block;
    padding-left: 12px;
    padding-top: none;
    margin-top: 20px;
}
#menu-falso{
    padding: 50px;
    width: 100%;
    background-color: #121212;
}
a{
    text-decoration: none;
    color: #fff;
    font-family: "Oxygen Mono", sans-serif;
    font-size: 18px;
}
#degrade{
    height: 4px;
    background-image: linear-gradient(to right, #ff0f7b, #f89b29);
}